[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = felixbreuer
	email = hi@felixbreuer.me
[core]
	excludesfile = ~/.gitignore_global
[alias]
	st = status -sb
	co = checkout
	fe = fetch
	c = commit -m
	g = grep -i
	df = diff
	a = add
