* {
	font-size: 17px;
	font-family: DroidSansMono Nerd Font, monospace;
}

window#waybar {
	background: #292b2e;
	color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	font-size: 20px;
	color: #1a1a1a;
}

#custom-right-arrow-light,
#custom-left-arrow-light {
	font-size: 20px;
	color: #292b2e;
	background: #1a1a1a;
}

#workspaces,
#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray,
#backlight,
#temperature,
#window {
	background: #1a1a1a;
	padding: 0 10px;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}

#workspaces button.focused {
	color: #268bd2;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}

#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 15px;
}

#pulseaudio {
	color: #268bd2;
}

#memory {
	color: #2aa198;
}

#cpu {
	color: #6c71c4;
}

#battery {
	color: #859900;
}

#disk, #temperature {
	color: #b58900;
}

#backlight {
	color: #e4d5b7;
}
